#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button{
  margin: 1rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
span{
  border: 2px solid blue;
  padding: 1rem 2rem;
}

.number{
  font-size: 40px; 
}
